/* *****Global***** */
body{
  background-color: aliceblue;
}



/* ****index**** */

#salmon-cookies{
  text-align: center;
  font-size: 50px;
  font-family: 'Dancing Script';
  font-weight: bolder;
}

#nature-made{
  font-family: 'Dancing Script';
  font-size: 30px;
}

  body#index{
    background-image: url(img/nature.jpg);
    background-size: 100%;
  }
  header{
    background-image: url(img/white.jpg);
    background-repeat: no-repeat;
    border-style: double;
    border-color: black;
    border-width: 10px;
    margin: 2px;
    padding: 3px;
    text-align: center;
  }
  a{
    position: relative;
    left: 125px;
  }

  #fish{
    transform: rotate(30deg);
    width: 80px;
    position: relative;
    right: 250px;
    bottom: 20px;
  }
  #cookie{
    transform: rotate(40deg);
    width: 80px;
    position: absolute;
    left: 10%;
    
  }
  #chinook{
    transform: rotate(-20deg);
    width: 80px;
    position: relative;
    left: 300px;
    bottom: 50px;
  }
  #cutter{
    transform: rotate(-20deg);
    width: 80px;
    position: relative;
    bottom: 20px;
    left: 600px;
  }





#family{
  width: 30%;
  position: relative;
  top: 100px;
  left:200px
}

#family-title{
  background-color: aliceblue;
  width: 10.5%;
  position: relative;
  left: 380px;
  top: 80px;
  font-family: 'Dancing Script';
  font-size: 30px;

}

#nature-made{
background-color: aliceblue;
position: absolute;
left: 1050px;
top: 180px;
font-family: 'Dancing Script';
font-size: 30px;

}

#shirt{
  width: 10%;
  position: absolute;
  bottom: 620px;
  right: 700px;
}




.store{
  color: white;
  background-color: grey;
  width: 20%;
  position: absolute;
  bottom: 0%;
  right: 0%;
 }

#salmon{
  width:20%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#sign{
  width: 25%;
  position:relative;
  left: 370px;
  top: 100px;
}


/* ***Sales*** */

table {
  width: 80%;
  border: 1px dotted;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  color: green;
}
#home{
  text-align: center;
}

#cookie-stand{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
  color: brown;
}
#sales{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}

table th{
  border: 1px solid;
}

table td{
  border: 1px solid;
}

h2#sales{
  text-align: center;
}

